/* Global styles */

font-family: 'Russo One', sans-serif;

body {
  font-family: "Russo One", sans-serif;
}

/* General styles */

.main-container {
  margin: 65px 0 0 15px;
}

.m-top {
  margin-top: 15px;
}

/* Component spefic styles */
/* Post.js */
.gurula-post-container {
  border: 1px solid black;
}

.gurula-post-reputation {
  float: left;
}

.gurula-comment-container {
  border: 1px solid black;
}

.gurula-comment-reputation {
  float: left;
  margin: 0 10px 0 0;
}

.gurula-comment-topbar {
  margin: 0 10px 0 0;
  font-weight: 600;
}

.gurula-comment-content {
  margin: 0 10px 10px 10px;
}

.gurula-comment-comments {
  margin: 0 0 0 15px;
}

.gurula-reputation-icon {
  float: left;
  font-size: 600;
}
